{#{% for field in form %}#}
{#	<div class="form-group flex-container">#}
{#		<div class="error">#}
{#			<span class="text-danger small">{{ field.errors }}</span>#}
{#		</div>#}
{#		<label class="form-control-label">{{ field.label_tag }}</label>#}
{#		<div class="field-value">#}
{#			{{ field }}#}
{#		</div>#}
{#	</div>#}
{#{% endfor %}#}
<div>
    <label class="form-control-label">{{ form.booking_id.label_tag }}</label>
    <div class="field-value">
        {{ form.booking_id }}
    </div>
    <label class="form-control-label">{{ form.cost.label_tag }}</label>
    <div class="field-value">
        {{ form.cost }}
    </div>
    <label class="form-control-label">{{ form.duration.label_tag }}</label>
    <div class="field-value">
        {{ form.duration }}
    </div>
    <label class="form-control-label">{{ form.email.label_tag }}</label>
    <div class="field-value">
        {{ form.email }}
    </div>
    <label class="form-control-label">{{ form.start_timing.label_tag }}</label>
    <div class="field-value">
        {{ form.start_timing }}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>