{% extends "booking/base.html" %}
{% load static %}

{% block css %}
    <link rel="{% static "booking/css/jquery.datetimepicker.css" %}">
{% endblock %}

{% block body %}
    <section class="breadcumb-area bg-img bg-overlay contact-bg" id="contact-bg2">
        <div class="bradcumbContent">
            <p>User Dashboard</p>
            <h2>Welcome {{ user }}</h2>
        </div>
    </section>
    <div id="button-layer">
        <button id="btnAction"  class="btn btn-primary" onClick="locate()">Click to see slots</button>
    </div>

    <div class="booking-form">
        <form enctype="multipart/form-data" method="post" class="form-control">
            <div class="flex-container">
                {% csrf_token %}
                {% include 'booking/bookingForm.html' %}
                <div class="form-group">
                    <label for="id-slot">Select Parking Slot</label>
                    <select id="id-slot" name="slot-id">
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <select id="end">
        <option value="28.445323,77.315779">Pristine Mall, sector 31</option>
        <option value="28.444657,77.319635">Community Center, Sector 31</option>
        <option value="28.448644,77.308221">Metro Parking</option>
    </select>
    <div id="map"></div>


    <!-- add their the user dasbhboard and the above is user varibale -->

{% endblock %}

{% block script %}
    <script type="text/javascript">
        let map;
        let directionsService;
        let directionsDisplay;
        let currentLatitude;
        let currentLongitude;


        function initMap() {
            let mapLayer = document.getElementById("map");
            let directionsService = new google.maps.DirectionsService;
            let directionsDisplay = new google.maps.DirectionsRenderer;
            const centerCoordinates = new google.maps.LatLng( 28.449349, 77.315725);
            let defaultOptions = {center: centerCoordinates, zoom: 14};
            map = new google.maps.Map(mapLayer, defaultOptions);
            directionsDisplay.setMap(map);
            function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                let element=document.getElementById('end').value.split(",");
                let lat=parseFloat(element[0]);
                let long=parseFloat(element[1]);
                directionsService.route({
                  origin: new google.maps.LatLng(currentLatitude, currentLongitude),
                  destination: new google.maps.LatLng(lat,long ),
                  travelMode: 'DRIVING'
                },
                    function(response, status) {
                        if (status === 'OK') {
                            directionsDisplay.setDirections(response);
                        } else {
                            window.alert('Directions request failed due to ' + status);
                        }
                    });
            }

            let onChangeHandler = function () {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            };
            document.getElementById('end').addEventListener('change', onChangeHandler);
        }

        function addMarker(coords) {
            let marker = new google.maps.Marker({
                position: coords,
                map: map,
            });
        }

        function personMarker(coords) {
            console.log("new person marker")
            let marker = new google.maps.Marker({
                position: coords,
                map: map,
                icon:"{% static "booking/images/pin.ico" %}",
            });
        }
        function locate(){
            document.getElementById("btnAction").disabled = true;
            document.getElementById("btnAction").innerHTML = "Processing...";
            if ("geolocation" in navigator){
                navigator.geolocation.getCurrentPosition(function(position){
                    //currentLatitude = position.coords.latitude;
                    //currentLongitude = position.coords.longitude;
                    currentLatitude= 28.449261;
                    currentLongitude= 77.315584;
                    addMarker({lat:  28.445323, lng: 77.315779});
                    addMarker({lat:  28.444657, lng: 77.319635});
                    addMarker({lat:  28.448644, lng: 77.308221});
                    personMarker({lat: currentLatitude, lng: currentLongitude});
                    document.getElementById("btnAction").style.display = 'none';
                });
            }
        }

    </script>
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <script src="{% static 'booking/js/firebase.js' %}"></script>
    <script src="{% static "booking/js/moment.js" %}"></script>
    <script src="{% static "booking/js/jquery.datetimepicker.js" %}"></script>
    <script type="text/javascript">
    $(function (){
        $("#id_start_timing").datetimepicker();
    });
    </script>
    {% comment %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9v4wGnOfvPj5hFvT9RFHr51RHh3VhzxE
        &callback=initMap" async defer>
    </script>
    {% endcomment %}

{% endblock %}